---js
{
  navigationOptions: {
    listClass: "site-nav",                  // Add a class to the top level
    listItemClass: "nav-item",              // Add a class to every item
    activeListItemClass: "nav-item-active", // Add a class to the current page's item
  }
}
---
<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    
    <title>{{ eleventyNavigation.key }} - {{ metadata.title }}</title>

    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/sakura-vader.css">
    <link rel="stylesheet" href="/assets/custom.css">
  </head>
  <body class="template--{% if templateClass %}{{ templateClass }}{% else %}fallback{% endif %}">
  
    <header class="site-header">
      <h1 class="site-title">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </h1>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
    </header>

    <main>
      {{ content | safe }}
    </main>
    
    <footer class="site-footer">
      <div class="footer-item">
        <strong>&copy; 2025</strong><br>
        <a href="{{ '/' | url }}">{{ metadata.author.name }}</a>
      </div>
      <div class="footer-item">
        <strong>Social</strong><br>
        <a href="{{ metadata.author.github }}" target="_blank" rel="noopener noreferrer">Github</a>
      </div>
    </footer>

  </body>
</html>
