<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ metadata.title }}</title>
  </head>
  <body>
    {% include 'layouts/header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'layouts/footer.njk' %}
  </body>
</html>