.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  font-size: 1.8rem;
  line-height: 1.618;
  padding: 0;
  margin: 0;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.9rem;
}

.site-nav > .nav-item {
  margin-bottom: 0;
}

.site-footer {
  position: fixed;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: left;
  gap: 5rem;
}